#header .nav ul li:nth-child(3) a p{
    color: #5606FF;
    font-weight: 700;
}

/***********************images***************************/
.flex{
    justify-content: space-evenly
}
.img {
    width: 466px;
    height: 577px;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 160px;
}
.img img{
    width: 105%;
    height: auto;
    transform: translate(-4%, -19%);
}
.txt {
    margin-top: 250px;
    margin-right: 100px;
}

.txt h3 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.2em;
    padding-bottom: 10px;
}
.txt p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3em;
}

.txt div{
    padding-bottom: 50px;
}