#header .nav ul li:nth-child(1) a p{
    color: #5606FF;
    font-weight: 700;
}

.intro{
    margin-top: 350px;
    margin-bottom: 309px;
    position: relative;
}
.intro p{
    font-size: 3.9rem;
    line-height: 1.3em;
    text-align: center;
    font-weight: 500;
}
.intro p span{
    color: #5606FF;
}
.intro img{
    width: 86px;
    position: absolute;
    top: -17px;
    right: 361px;
    animation: emoji 2.5s infinite ;
}
@keyframes emoji{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}