

#header .nav ul li:nth-child(2) a p{
    color: #5606FF;
    font-weight: 700;
}
#web {
    padding-top: 90px;
}
#web h1 {
    text-align: center;
    margin-bottom: 60px;
}

#web .lazy .flex {
    justify-content: space-around;
}
#web .lazy div .slide_txt {
    margin-left: 150px;
    position: relative;
}
#web .lazy div .slide_txt h2 {
    font-size: 10rem;
    position: absolute;
    font-weight: 500;
    top: 70px;
    left: -138px;
    color: rgba(86, 6, 255, 0.3);
}
#web .lazy div .slide_txt h1 {
    margin-top: 140px;
}
#web .lazy div .slide_txt a {
    font-size: 1.3rem;
    display: block;
    position: relative;
}
#web .lazy div .slide_txt a:nth-of-type(2) {
    margin-top: 25px;
    font-size: 1.3rem;
}
#web .lazy div .slide_txt a::after{
    content: '';
    display: block;
    height: 2px;
    width: 270px;
    background-color: #222222;
    margin-top: 20px;

}
#web .lazy div .slide_txt a::before{
    content: '';
    display: block;
    width: 3px;
    height: 24px;
    border-right: 2px solid #222222;
    margin: auto;
    transform: rotate(322deg);
    position: absolute;
    left: 258px;
    top: 19px;
}

#web .lazy div img {
    width: 45%;
}
#web .lazy .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
#web .lazy .slick-dots button {
    font-size: 0;
    border: transparent;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-right: 32px;
    margin-top: 100px;
}
#web .lazy .slick-dots button:nth-of-type(3){
    margin-right: 0;
}
#web .lazy .slick-dots li.slick-active button{
    background-color: #000000;
}

#web .lazy .slick-prev {
    font-size: 0;
    border: none;
}
#web .lazy .slick-prev::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7;
    margin: auto;
    transform: rotate(133deg);
    translate: (-2px -2px);
    position: absolute;
    bottom: -34px;
    left: 40%;
}
#web .lazy .slick-next {
    font-size: 0;
    border: none;
}
#web .lazy .slick-next::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7;
    margin: auto;
    transform: rotate(-44deg);
    translate: (-2px -2px);
    position: absolute;
    bottom: -34px;
    right: 43%;
}
/************************graphic***********************/
#graphic h1{
    margin-top: 100px;
    padding-top: 100px;
}

.modal img{
    width: 100%;
}
.modal div{
    width: 100%;
}
#graphic .graphic_img .graphic_left, #graphic .graphic_img .graphic_right{
    width: 30%;
    margin: 0 auto;
}

#graphic .graphic_img .graphic_left{
    margin-top: 111px;
}
#graphic .graphic_img .graphic_right{
    margin-top: 214px;
}
#graphic .graphic_img .graphic_left img, #graphic .graphic_img .graphic_right img {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}
#graphic .graphic_img .graphic_left .modal, #graphic .graphic_img .graphic_right .modal {
    position: relative;
}
#graphic .graphic_img .graphic_left .modal:hover::after, #graphic .graphic_img .graphic_right .modal:hover::after{
    content: '';
    display: block;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#graphic .graphic_img .graphic_left .modal p, #graphic .graphic_img .graphic_right .modal p {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    z-index: 5;
    transform: translateY(-45%);
}
#graphic .graphic_img .graphic_left .modal:hover p{
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2em;
    /*margin-top: 50%;*/
    display: block;
    /* position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); */
}
#graphic .graphic_img .graphic_right .modal:hover p{
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2em;
    /*margin-top: 50%;*/
    display: block;
    /* position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); */
}
#graphic .graphic_img .graphic_left .modal:hover p span{
    font-size: 1.3rem;
    font-weight: 400;
}
#graphic .graphic_img .graphic_right .modal:hover p span{
    font-size: 1.3rem;
    font-weight: 400;
}


/**************************팝업***********************/

.pop {
    width:100%;
     height:100%; 
     position:fixed; 
     left:0; 
     top:0; 
     background:rgba(0,0,0, 0.6);
      z-index:99; 
      display:none;
}
.pop .img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#pop_up1 .img, #pop_up12 .img, #pop_up13 .img{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: scroll;
}
.pop .img img{
    display: block;
    width: 100%;
}
.pop .btn{
    position: fixed;
    top: 20px;
    right: 20px;
}
.pop .btn button{
    border: none;
    color: #ffffff;
    font-size: 3rem;
}



@media all and (max-width:1330px){
    #web .lazy .slick-next {
        /* font-size: 0;
        border: none; */
        margin-top: 70px;
    }
  
}


@media all and (max-width:1270px){
    #web h1 {
        text-align: center;
        margin-bottom: 30px;   
    }
    #web .lazy .flex {
        display: grid;
        grid-template-areas: 
        'area1'
        'area2';
        padding-top: 50px;
    }
    #web .lazy div .slide_txt {
        /* margin-left: 150px;
        position: relative; */
        grid-area: area2;
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }
    #web .lazy div img {
        width: 50%;
        margin: 0 auto;
        grid-area: area1;
    }
    #web .lazy div .slide_txt h2 {
        display: none;
    }
    #web .lazy div .slide_txt h1 {
        margin-top: 0px;
    }
    #web .lazy .slick-next {
        margin-top: 0;
    }
    #web .lazy .slick-prev::after {
        /* content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid #a7a7a7;
        border-right: 2px solid #a7a7a7;
        margin: auto;
        transform: rotate(133deg);
        translate: (-2px -2px);
        position: absolute; */
        bottom: 50%;
        left: 50px;
    }
    #web .lazy .slick-next::after {
        /* content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid #a7a7a7;
        border-right: 2px solid #a7a7a7;
        margin: auto;
        transform: rotate(-44deg);
        translate: (-2px -2px);
        position: absolute; */
        bottom: 50%;
        right: 50px;
    }
    #web .lazy .slick-dots {
        /* display: flex;
        justify-content: center;
        position: absolute; */
        bottom: -60px;
        /* left: 50%;
        transform: translateX(-50%); */
    }

    #graphic .graphic_img .graphic_left a:hover p{
        width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.2em;
        /* margin-top: 50%; */
        display: block;
    }
    #graphic .graphic_img .graphic_right a:hover p{
        width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.2em;
        /*margin-top: 50%;*/
        display: block;
        /* position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%); */
    }
    #graphic .graphic_img .graphic_left a:hover p span{
        font-size: 1rem;
        font-weight: 400;
    }
    #graphic .graphic_img .graphic_right a:hover p span{
        font-size: 1rem;
        font-weight: 400;
    }
}

@media all and (max-width:710px){
    #web .lazy div img {
        width: 80%;
        margin: 0 auto;
        grid-area: area1;
    }
    #web .lazy .flex {
        display: grid;
        grid-template-areas:
            'area1'
            'area2'; 
       padding-top: 0px;
    }
    #web .lazy div .slide_txt {
        /* grid-area: area2;
        margin: 0 auto;
        margin-top: 50px;
        width: 100%; */
        display: block;
        /* flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around; */
    }
    #web .lazy div .slide_txt a {
        /* font-size: 1.3rem;
        display: block;
        position: relative; */
        text-align: center;
    }
    #web .lazy div .slide_txt a::after {
        /* content: '';
        display: block;
        height: 2px;
        width: 270px;
        background-color: #222222;
        margin-top: 20px; */
        margin: 20px auto 0 auto;
    }
    #web .lazy div .slide_txt a::before {
        /* content: '';
        display: block;
        width: 3px;
        height: 24px;
        border-right: 2px solid #222222;
        margin: auto;
        transform: rotate(322deg);
        position: absolute; */
        right: 2px;
        /* top: 19px; */
    }
    #web .lazy .slick-next::after {
        content: '';
        display: none;
        width: 30px;
        height: 30px;
        border-bottom: 2px solid #a7a7a7;
        border-right: 2px solid #a7a7a7;
        margin: auto;
        transform: rotate(-44deg);
        translate: (-2px -2px);
        position: absolute;
        bottom: -34px;
        right: 43%;
    }
    #web .lazy .slick-prev::after {
        content: '';
        display: none;
        width: 30px;
        height: 30px;
        border-bottom: 2px solid #a7a7a7;
        border-right: 2px solid #a7a7a7;
        margin: auto;
        transform: rotate(133deg);
        translate: (-2px -2px);
        position: absolute;
        bottom: -34px;
        left: 40%;
    }
    #graphic h1 {
        /* margin-top: 100px;
        padding-top: 100px; */
        margin-bottom: 80px;
    }
    #graphic .flex{
        display: block;
    }
    .modal img{
        width: 100%;
    }
    .modal div{
        width: 100%;
        margin: auto;
        padding-left: 20px;
        display: none;
    }
    #graphic .graphic_img .graphic_left, #graphic .graphic_img .graphic_right{
        width: 90%;
        margin: auto;
    }
    #graphic .graphic_img .graphic_left a, #graphic .graphic_img .graphic_right a {
        /* position: relative; */
        display: flex;
        justify-content: inherit;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 30px;
    }
    #graphic .graphic_img .graphic_left a:hover::after, #graphic .graphic_img .graphic_right a:hover::after{
        /* content: ''; */
        display: none;
        /* background-color: rgba(0,0,0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; */
    }
    #graphic .graphic_img .graphic_left img, #graphic .graphic_img .graphic_right img {
        display: block;
        width: 90%;
        margin:auto;
    }
    
    #graphic .graphic_img .graphic_left a p, #graphic .graphic_img .graphic_right a p {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        color: #000000;
        text-align: center;
        z-index: 5;
        transform: translateY(0);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1em;
        margin: auto;

    }
    #graphic .graphic_img .graphic_left a p span{
        font-size:0.9rem;
        font-weight: 400;
    }
    #graphic .graphic_img .graphic_right a p span{
        font-size: 0.9rem;
        font-weight: 400;
    }
    
    #graphic .graphic_img .graphic_left a:hover p{
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2em;
        /* margin-top: 50%; */
        display: block;
    }
    #graphic .graphic_img .graphic_right a:hover p{
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2em;
        /*margin-top: 50%;*/
        display: block;
        /* position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%); */
    }
    #graphic .graphic_img .graphic_left a:hover p span{
        font-size: 0.9rem;
        font-weight: 400;
    }
    #graphic .graphic_img .graphic_right a:hover p span{
        font-size: 0.9rem;
        font-weight: 400;
    }
    
}

@media all and (max-width:450px){
    #web {
        padding-top: 50px;
    }
    #web .lazy .slick-dots {
        /* display: flex;
        justify-content: center;
        position: absolute;
        bottom: -30px; */
        left: 35%;
        transform: translateX(0);
    }
    #graphic{
        margin-bottom: 100px;
    }
    #graphic .graphic_img .graphic_left, #graphic .graphic_img .graphic_right{
        width: 95%;
        margin: auto;
    }
}